.floating-box {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin: 10px;
    border: 5px solid #73AD21;
}

.floating-box *{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}

.thumbnail{
    height: 150px;
    width:150px;
}